<!doctype html>
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dongle Plans | VoizFonica</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/dongleStyle.css}">
    <!--<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js" charset="UTF-8"></script>--></head>

<body>
<br>
<br>
<h2 align = "center"> Dongle Plans </h2>
<br>

<section style="margin-top:40px;margin-bottom:400px;" class="new-align">
    <div  class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-primary" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"  style="color:white;text-decoration: none;" >
                        Buy Dongle
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div style="overflow-x:auto;"class="card-body">

                    <br>
                    <div style="text-align: center" class=".center">
                        <img src="../images/dongle.jpg">
                        <blink style="color:red;font-family:fantasy,cursive"> Get it now ➽➼</blink>
                        <br>
                        <p>Multi Sim Network 4G Dongle DataCard for 2,499 INR <a  th:href="@{/newConnection/dongleplans}"><button type="button" class="btn btn-primary">Buy</button></a></p>
                        <p>Own a dongle already? View dongle plans<a  th:href="@{/newConnection/dongle}"><button type="button" class="btn btn-primary">Click here</button></a></p>

                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
</form>
<!-- dongle / Navigation Ends -->


<!-- Footer starts><b>
    <footer class="page-footer">

        <div class="container">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="investors">Investors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="careers">Careers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Ppolicy">Privacy Policy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="business">Business</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact">Contact Us</a>
                </li>
            </ul>
        </div>

        <div class="container">
            <br>

            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a href="https://www.twitter.com/"><img id="footer-image" src = "images/twitter_icon.jpg"> </a>
                </li>
                <li class="nav-item">
                    <a href="https://www.instagram.com/"> <img id="footer-image" src = "images/instagram_icon.jpg" ></a>
                </li>
                <li class="nav-item">
                    <a href="https://www.facebook.com/"> <img id="footer-image" src = "images/facebook_icon.png"> </a>
                </li>
                <li class="nav-item">
                    <a href="https://www.youtube.com/">  <img id="footer-image" src = "images/youtube_icon.png" > </a>
                </li>
                <li class="nav-item">
                    <a href="https://www.linkedin.com/"> <img id="footer-image" src = "images/link_icon.png" href="#"></a>
                </li>
            </ul>
            <br>
            <hr>
            <div class="footer-copyright text-center">© 2019 VoizFonica. All Rights Reserved </div>
        </div>

    </footer></b>


<Footer ends --!>



<!-- CDN's of js and jquery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body> <!--End of body -->

</html>
