
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name = "viewport" content = "width = device-width , initial-scale = 1" />
    <title> Successful </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .invoice-title h2, .invoice-title h3 {
            display: inline-block;
        }

        .table > tbody > tr > .no-line {
            border-top: none;
        }

        .table > thead > tr > .no-line {
            border-bottom: none;
        }

        .table > tbody > tr > .thick-line {
            border-top: 2px solid;
        }
        .reference{
            padding-left:400px;
        }
    </style>

</head>
<body>
<br>
<h2 align="center"> Payment Successful!</h2>
<br>

<div class="container" id="HTMLtoPDF">

    <div class="row">
        <div class="col-xs-12">
            <div class="invoice-title">
                <h2>Invoice</h2><h3 class="pull-right"><img src = "images/Logo.png" width="25%"></h3>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-6">
                    <b>Billed To: </b> <span th:text="${userCredential.userName}"></span> <span th:text="${userCredential.address}"></span>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-xs-6">
                    <b>Payment made to number:&nbsp;</b>	<span th:text="${planDetail.generatedNumber}"></span><br><br>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-6">
                    <b>Payment Method:</b>
                    Credit card transaction
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-6">
                    <b>Order Date:</b>	<span th:text="${planDetail.startDate}"></span><br><br>
                </div>
            </div>

            <div class="row" th:if="${hasproduct} == 'yes'">
                <div class="col-xs-6">
                    <b>Delivery info:</b>&nbsp; Your dongle will be delieverd withing 2 - 3 days.	<br><br>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Order summary</strong></h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <td><strong>Plan</strong></td>
                                <td class="text-center"><strong>Validity</strong></td>
                                <td class="text-center"><strong>Benefits</strong></td>
                                <td class="text-right"><strong>Amount</strong></td>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- foreach ($order->lineItems as $line) or some such thing here -->
                            <tr>
                                <td> <span th:text="${planDetail.amountPaid}">500 inr</span>&nbsp;/&nbsp;<span th:text="${planDetail.planType}">type</span></td>
                                <td class="text-center" th:text="${planDetail.validity}">28 Days</td>
                                <td class="text-center" th:text="${planDetail.data}">10GB</td>
                                <td class="text-right" th:text="${planDetail.amountPaid}"><i class="fa fa-inr" aria-hidden="true"></i>455</td>
                            </tr>

                            <tr th:if="${hasproduct} == 'yes'">
                                <td> <span th:text="${dongleProduct.dongleName}">500 inr</td>
                                <td >---</td>
                                <td >---</td>
                                <td class="text-right" th:text="${dongleProduct.donglePrice}"><i class="fa fa-inr" aria-hidden="true"></i>455</td>
                            </tr>

                            <tr>
                                <td class="thick-line"></td>
                                <td class="thick-line"></td>
                                <td class="thick-line text-center" ><strong>Total</strong></td>
                                <td th:if="${hasproduct} == 'no'"class="thick-line text-right" th:text="${planDetail.amountPaid}"><i class="fa fa-inr" aria-hidden="true"></i>455</td>
                                <td th:if="${hasproduct} == 'yes'"class="thick-line text-right" th:text="${dongleProduct.totalprice}"><i class="fa fa-inr" aria-hidden="true"></i>455</td>


                            </tr>
                            </tbody>
                        </table>
                    </div>
                    Thanks for purchasing with Voizfonica...
                    Hope you enjoy our services.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="reference">
    <a href = "dashboard"><input type="button" value="Back to Dashboard" class="btn btn-success"> </a>&nbsp; &nbsp;
    <input id="pdf-button" type="button" class="btn btn-success" value="Download Invoice" onclick="HTMLtoPDF()">
</div>
<br><br>

<!-- these js files are used for making PDF -->
<script src="js/jspdf.js"></script>
<script src="js/jquery-2.1.3.js"></script>
<script src="js/pdfFromHTML.js"></script>
</body>
</html>