/* Header section's styles are mentioned from here */

.headerSection{
    height:70px;
    background-color: #000000;

    padding:0;

}

.navbar-collapse {
    justify-content: center;
}

.bg-dark {
    background-color: #000000!important;
}

.logo{
    background:#000000;
    border: 0.5px solid #718fbf;
    border-radius: 50%;
    padding:5px;
    font-family:impact;
}

.nav-header-list{

    justify-content:bottom;
    width:200px;
    height:inherit;
    margin-left:100px;
    margin-right:100px;
}

.box-of-login{
    border:1px solid black;
    color:black;
    display:inline;
    padding:3px;

}
.container-fluid{
    padding-left:0;
    padding-right:0;
}

.navbar-brand {
    color: #fff;
    cursor: pointer;
    color:black;
    padding:2px;
    border:1px solid white;
    border-radius:5px;
    background:white;
}

.navbar-brand:hover{
    color:white;
    font-family:helvetica;
    padding:2px;
    background:black;
    border-radius:5px;
}

.logo-brand{
    width:45px;
    height:40px;
}

.login-brand{
    width:45px;
    height:40px;
    border-radius:50%;
}

.btn-group, .btn-secondary, .dropdown-toggle {
    color: #ffffff;
    background-color: black;
    border: none;
    padding: 5px 5px;
}

/* Header section styles end here */

/* Register section styles starts here */

.formstyle{

    padding:10px;
    margin:5px;
    display:block;

}
label{
    vertical-align: top;
    display:inline-block;
    padding-right:30px;
    width:170px;
    color:black;

}
html,body{
    background-image: url('../images/login.jpg');
    background-size: cover;
    background-repeat: no-repeat;


}


form {
    background:#f1f1f1;
    padding-left:50px;
    opacity:0.9;
    padding-top:20px;
    margin: 0 auto;
    width:700px;
    border-style:groove;
    border-radius:20px;
    padding-bottom: 20px;
    margin-top:25px;
    border:1px solid #0076ff;

}
.login_btn{
    color: black;
    background-color: #FFC312;
    width: 150px;
    font-weight:1.5em;
}

.login_btn:hover{
    color: white;
    background-color: black;
}

/*For removing in number type*/
.numbers::-webkit-inner-spin-button,
.numbers::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Register section styles ends here */




/*Footer section styles start here */
.page-footer {
    background-color: #000000;
    width:100%;
    padding: 20px 0 40px;

    left: 0;
    bottom: 0;
}

.footer-copyright {
    color: #666;

}


#footer-image{
    width:30px;
    height:30px;
    margin-right: 1em;
}

.nav-link:hover{
    color:#ffffff;
}

/*Footer section style end here */

