/*--- Dashboard---*/
/*/ Set height of the grid so .sidenav can be 100% (adjust as needed) /*/
.row.content {height: inherit}
/*Changed the row content height to inherit from 580px*/
/*/ Set gray background color and 100% height /*/
.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}

/*/ On small screens, set height to 'auto' for the grid /*/
@media screen and (max-width: 767px) {
    .row.content {height: auto;}
}

html,body{
    background-image: url('https://media.giphy.com/media/11tX5kuWSW4b2o/giphy.gif');
    background-size: cover;
    background-repeat: no-repeat;
    padding-left:10px;
}
.progress{
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.progress:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 12px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left{
    left: 0;
}
.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 12px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}
.progress .progress-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #44484b;
    font-size: 24px;
    color: #fff;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}
.progress.blue .progress-bar{
    border-color: #049dff;
}
.progress.blue .progress-left .progress-bar{
    animation: loading-2 1s linear forwards 1.8s;
}
.progress.yellow .progress-bar{
    border-color: #fdba04;
}
.progress.yellow .progress-left .progress-bar{
    animation: loading-3 1s linear forwards 1.8s;
}
.progress.pink .progress-bar{
    border-color: #ed687c;
}
.progress.pink .progress-left .progress-bar{
    animation: loading-4 0.4s linear forwards 1.8s;
}
.progress.green .progress-bar{
    border-color: #1abc9c;
}
.progress.green .progress-left .progress-bar{
    animation: loading-5 1s linear forwards 1.8s;
}
@keyframes loading-1{
    0%{
        -webkit-transform: rotate(360deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(180deg);
    }
}
@media only screen and (max-width: 990px){
    .progress{ margin-bottom: 20px; }
}

.wrapper {
    text-align: center;
    padding-top:200px;

}

.button .btn-primary {
    position: absolute;
    top: 50%;


}

h3 {
    color: rgba(31,181,172,.9);
}
.text{
    color: rgba(31,181,172,.9)!important;
    text-align: center;
}

p{
    color: rgba(31,181,172,.9)!important;
}


.folded-corner:hover .text{
    visibility: visible;
    color: #000000;;
}
.Services-tab{
    margin-top:20px;
}

/*
nav link items
*/
.folded-corner{
    padding: 25px 25px;
    position: relative;
    font-size: 90%;
    text-decoration: none;
    color: #999;
    background: transparent;
    transition: all ease .5s;
    border: 1px solid rgba(31,181,172,.9);
    display:inline-block;
}
.folded-corner:hover{
    background-color: rgba(31,181,172,.9);
}

/*
paper fold corner
*/

.folded-corner:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-style: solid;
    border-width: 0 0px 0px 0;
    border-color: #ddd #000;
    transition: all ease .3s;
}

/*
on li hover make paper fold larger
*/
.folded-corner:hover:before {
    background-color: #D00003;
    border-width: 0 50px 50px 0;
    border-color: #eee #000;

}

.service_tab_1{
    background-color: #000;

}
.service_tab_1:hover .fa-icon-image{
    color: #000;
    transform: rotate(360deg) scale(1.5);
}


.fa-icon-image{
    color: rgba(31,181,172,.9);
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    font-size-adjust: none;
    font-stretch: normal;
    -moz-font-feature-settings: normal;
    -moz-font-language-override: normal;
    text-rendering: auto;
    transition: all .65s linear 0s;
    text-align: center;
    transition: all 1s cubic-bezier(.99,.82,.11,1.41);
}





