/* Header section's styles are mentioned from here */

.headerSection{
    height:70px;
    background-color: #000000;

    padding:0;

}

.navbar-collapse {
    justify-content: center;
}

.bg-dark {
    background-color: #000000!important;
}

.logo{
    background:#000000;
    border: 0.5px solid #718fbf;
    border-radius: 50%;
    padding:5px;
    font-family:impact;
}

.nav-header-list{

    justify-content:bottom;
    width:200px;
    height:inherit;
    margin-left:100px;
    margin-right:100px;
}

.box-of-login{
    border:1px solid black;
    color:black;
    display:inline;
    padding:3px;

}
.container-fluid{
    padding-left:0;
    padding-right:0;
}

.navbar-brand {
    color: #fff;
    cursor: pointer;
    color:black;
    padding:2px;
    border:1px solid white;
    border-radius:5px;
    background:white;
}

.navbar-brand:hover{
    color:white;
    font-family:helvetica;
    padding:2px;
    background:black;
    border-radius:5px;
}

.logo-brand{
    width:45px;
    height:40px;
}

.login-brand{
    width:45px;
    height:40px;
    border-radius:50%;
}

.btn-group, .btn-secondary, .dropdown-toggle {
    color: #ffffff;
    background-color: black;
    border: none;
    padding: 5px 5px;
}

/* Header section styles end here */


.carousel-item img {
    margin: auto;
}

#home_image{
    padding:500px;
}


.center{
    margin-left:80px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;

    background-image: none;
}

.carousel-control-next-icon:after
{
    content: '>';
    font-size: 40px;
    color: red;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 40px;
    color: red;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: black;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
}
.carousel-indicators .active {
    width: 10px;
    height: 10px;
    margin: 10px;
    background-color: blue;
}


/*Footer section styles start here */
.page-footer {
    background-color: #000000;
    width:100%;
    padding: 20px 0 40px;

    left: 0;
    bottom: 0;
}

.footer-copyright {
    color: #666;

}

#footer-image{
    width:30px;
    height:30px;
    margin-right: 1em;
}

.nav-link:hover{
    color:#ffffff;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}

/*Footer section style end here */

