.headerSection{
    height:70px;
    background-color: #000000;

    padding:0;

}

.navbar-collapse {
    justify-content: center;
}

.bg-dark {
    background-color: #000000!important;
}

.logo{
    background:#000000;
    border: 0.5px solid #718fbf;
    border-radius: 50%;
    padding:5px;
    font-family:impact;
}

.nav-header-list{

    justify-content:bottom;
    width:200px;
    height:inherit;
    margin-left:100px;
    margin-right:100px;
}

.box-of-login{
    border:1px solid black;
    color:black;
    display:inline;
    padding:3px;

}
.container-fluid{
    padding-left:0;
    padding-right:0;
}

.navbar-brand {
    color: #fff;
    cursor: pointer;
    color:black;
    padding:2px;
    border:1px solid white;
    border-radius:5px;
    background:white;
}

.navbar-brand:hover{
    color:white;
    font-family:helvetica;
    padding:2px;
    background:black;
    border-radius:5px;
}

.logo-brand{
    width:45px;
    height:40px;
}

.login-brand{
    width:45px;
    height:40px;
    border-radius:50%;
}

.btn-group, .btn-secondary, .dropdown-toggle {
    color: #ffffff;
    background-color: black;
    border: none;
    padding: 5px 5px;
}



@import url("https://fonts.googleapis.com/css?family=Open+Sans:700");

.container{
    text-align: center;
    font-family:sue ellen francisco, sans-serif;
}

.services{
    background-color:black;
    padding-left:250px;
}
.servicehead{
    background-color:black;
}



.alrazy-title {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 300;
    font-size: 3vw !important;
    font-size: calc( 100vw / var(--char-total) );
    position: relative;
    padding: 0.4em 0;
    overflow: hidden;

}
.alrazy-title:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: solid 0.2em;
    -webkit-animation: underline 1s cubic-bezier(0.8, 0, 0, 1);
    animation: underline 1s cubic-bezier(0.8, 0, 0, 1);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes underline {
    from {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
    }
}
@keyframes underline {
    from {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
    }
}
.alrazy-title .word {
    display: inline-block;
    -webkit-animation: slide-up 1.25s cubic-bezier(0.5, 0.2, 0, 1);
    animation: slide-up 1.25s cubic-bezier(0.5, 0.2, 0, 1);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: calc( .5s + (.1s * var(--word-index)) );
    animation-delay: calc( .5s + (.1s * var(--word-index)) );
}
@-webkit-keyframes slide-up {
    from {
        -webkit-transform: translateY(125%);
        transform: translateY(125%);
    }
}
@keyframes slide-up {
    from {
        -webkit-transform: translateY(125%);
        transform: translateY(125%);
    }
}
.splitting-mark {
    color: #FFF !important;
}




h3 {
    color: rgba(31,181,172,.9);
}
.text{
    color: rgba(31,181,172,.9)!important;
    text-align: center;
}

p{
    color: rgba(31,181,172,.9)!important;
}


.folded-corner:hover .text{
    visibility: visible;
    color: #000000;;
}
.Services-tab{
    margin-top:20px;
}

/*
  nav link items
*/
.folded-corner{
    padding: 25px 25px;
    position: relative;
    font-size: 90%;
    text-decoration: none;
    color: #999;
    background: transparent;
    transition: all ease .5s;
    border: 1px solid rgba(31,181,172,.9);
    display:inline-block;
}
.folded-corner:hover{
    background-color: rgba(31,181,172,.9);
}

/*
  paper fold corner
*/

.folded-corner:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-style: solid;
    border-width: 0 0px 0px 0;
    border-color: #ddd #000;
    transition: all ease .3s;
}

/*
  on li hover make paper fold larger
*/
.folded-corner:hover:before {
    background-color: #D00003;
    border-width: 0 50px 50px 0;
    border-color: #eee #000;

}

.service_tab_1{
    background-color: #000;

}
.service_tab_1:hover .fa-icon-image{
    color: #000;
    transform: rotate(360deg) scale(1.5);
}


.fa-icon-image{
    color: rgba(31,181,172,.9);
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    font-size-adjust: none;
    font-stretch: normal;
    -moz-font-feature-settings: normal;
    -moz-font-language-override: normal;
    text-rendering: auto;
    transition: all .65s linear 0s;
    text-align: center;
    transition: all 1s cubic-bezier(.99,.82,.11,1.41);
}


.carousel-item img {
    margin: auto;
}

#home_image{
    padding:500px;
}


.center{
    margin-left:80px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;

    background-image: none;
}

.carousel-control-next-icon:after
{
    content: '>';
    font-size: 40px;
    color: red;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 40px;
    color: red;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: black;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
}
.carousel-indicators .active {
    width: 10px;
    height: 10px;
    margin: 10px;
    background-color: blue;
}


.row.heading h2 {
    color: #fff;
    font-size: 52.52px;
    line-height: 95px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
}
ul{
    margin:0;
    padding:0;
    list-style:none;
}
.heading.heading-icon {
    display: block;
}
.padding-lg {
    display: block;
    padding-top: 60px;
    padding-bottom: 60px;
}
.practice-area.padding-lg {
    padding-bottom: 55px;
    padding-top: 55px;
}
.practice-area .inner{
    border:1px solid #999999;
    text-align:center;
    margin-bottom:28px;
    padding:40px 25px;
}
.our-webcoderskull .cnt-block:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    border: 0;
}
.practice-area .inner h3{
    color:#3c3c3c;
    font-size:24px;
    font-weight:500;
    font-family: 'Poppins', sans-serif;
    padding: 10px 0;
}
.practice-area .inner p{
    font-size:14px;
    line-height:22px;
    font-weight:400;
}
.practice-area .inner img{
    display:inline-block;
}


.our-webcoderskull{
    background: url("http://www.webcoderskull.com/img/right-sider-banner.png") no-repeat center top / cover;

}
.our-webcoderskull .cnt-block{
    float:left;
    width:100%;
    background:#fff;
    padding:30px 20px;
    text-align:center;
    border:2px solid #d5d5d5;
    margin: 0 0 28px;
}
.our-webcoderskull .cnt-block figure{
    width:148px;
    height:148px;
    border-radius:100%;
    display:inline-block;
    margin-bottom: 15px;
}
.our-webcoderskull .cnt-block img{
    width:148px;
    height:148px;
    border-radius:100%;
}
.our-webcoderskull .cnt-block h3{
    color:#2a2a2a;
    font-size:20px;
    font-weight:500;
    padding:6px 0;
    text-transform:uppercase;
}
.our-webcoderskull .cnt-block h3 a{
    text-decoration:none;
    color:#2a2a2a;
}
.our-webcoderskull .cnt-block h3 a:hover{
    color:#337ab7;
}
.our-webcoderskull .cnt-block p{
    color:#2a2a2a;
    font-size:13px;
    line-height:20px;
    font-weight:400;
}
.our-webcoderskull .cnt-block .follow-us{
    margin:20px 0 0;
}
.our-webcoderskull .cnt-block .follow-us li{
    display:inline-block;
    width:auto;
    margin:0 5px;
}
.our-webcoderskull .cnt-block .follow-us li .fa{
    font-size:24px;
    color:#767676;
}
.our-webcoderskull .cnt-block .follow-us li .fa:hover{
    color:#025a8e;
}


/*Footer section styles start here */
.page-footer {
    background-color: #000000;
    width:100%;
    padding: 20px 0 40px;

    left: 0;
    bottom: 0;
}

.footer-copyright {
    color: #666;

}

#footer-image{
    width:30px;
    height:30px;
    margin-right: 1em;
}

.nav-link:hover{
    color:#ffffff;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}

/*Footer section style end here */

