<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>User Dashboard | VoizFonica </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}">
</head>
<body>
<nav class="navbar navbar-inverse visible-xs">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Dashboard</a></li>
                <li><a href="profile">Profile</a></li>
                <li><a href="newConnection">New Connection</a></li>
                <li><a href="unsubscribe">Unsubsricbe</a></li>
                <li><a href="/">Logout</a></li>

            </ul>
        </div>
    </div>
</nav>
<br><br>
<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav hidden-xs">
            <br>
            <img src = "../images/logo-small.png" height = "150px" width = "150px" > <br><br>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#">Dashboard</a></li>
                <li><a href="profile">Profile</a></li>
                <li><a href="newConnection">New Connection</a></li>
                <li><a href="unsubscribe">Unsubsricbe</a></li>
                <li><a href="/">Logout</a></li>

            </ul>
        </div>


        <div class="col-sm-8">
            <div th:if="${postpaidexist} == 'yes'" class="alert alert-info alert-dismissable">
                <a class="panel-close close" data-dismiss="alert">×</a>
                <i class="fa fa-coffee"></i>
                A postpaid account already exist in this account!
            </div>
            <div class="well">
                <h4><b>Hi </b><b th:text="${login.userName}">UserName</b></h4>
                <hr class="my-4">
<!--                <div class="col-sm-18">-->

<!--                    <a href = "payment"><p><button type="button" class="btn btn-primary">-->
<!--                        Pay your bill-->
<!--                    </button></p> </a>-->
<!--                    <hr class="my-4">-->
<!--                </div>-->
<!--                //////Checking if no plans or selected-->
                <b>
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#DashBoardHome">Plan</a></li>
                        <li th:if="${hasPrePaidPlan} == 'yes'"><a data-toggle="tab" href="#PrePaidPlan">Prepaid</a></li>
                        <li th:if="${hasPostPaidPlan} == 'yes'"><a data-toggle="tab" href="#PostPaidPlan">Postpaid</a></li>
                        <li th:if="${hasDonglePlan} == 'yes'"><a data-toggle="tab" href="#DonglePlan" >Dongle</a></li>
                    </ul>
                </b>

                <div class="tab-content">
                    <div id="DashBoardHome" class="tab-pane fade in active">

                        <div class="row well" th:if="${noplans} == 'noplans'">
                            <h3>You hava choosen no plans!</h3>
                            <span class="badge badge-primary">Click New connection to choose plans</span>&nbsp;
                            <a class="btn btn-outline-primary" th:href="@{'/newConnection'}"
                               role="button">New connection</a>
                        </div>

                        <div class="row well" th:if="${plans} == 'plans'">

                            <h3>We welcome you to the World's mightiest network!</h3>

                        </div>

<!--                        <br><br>-->
<!--                        <p></p>-->
<!--                        <div class="w3-row-padding w3-center w3-margin-top">-->

<!--                            <div class="w3-third" style="display:inline-block;width:250px;">-->
<!--                                <div class="w3-card w3-container" >-->
<!--                                    <h4>Postpaid</h4><br>-->
<!--                                    <img src="images/postpaid.png"  style="width:50%" height="140px">-->
<!--                                    <br><br>-->
<!--                                    <p>Data - Rollover</p>-->
<!--                                    <p>28 Cycle bill</p>-->
<!--                                    <p>0.5p per min</p>-->
<!--                                    <p>0.8p per SMS</p>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="w3-third" style="display:inline-block;width:250px;">-->
<!--                                <div class="w3-card w3-container" >-->
<!--                                    <h4>Prepaid </h4><br>-->
<!--                                    <img src="images/prepaid.png" style="width:50%" height="140px">-->
<!--                                    <br><br>-->
<!--                                    <p>Easy Recharge</p>-->
<!--                                    <p>0.5p per min</p>-->
<!--                                    <p>Free 100 SMS</p>-->
<!--                                    <p>Unlimited Calls and Data</p>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="w3-third" style="display:inline-block;width:250px;">-->
<!--                                <div class="w3-card w3-container" style="min-height:460px">-->
<!--                                    <h4>Dongle</h4><br>-->
<!--                                    <img src="images/dongle.jpg" style="width:50%" height="140px">-->
<!--                                    <br><br>-->
<!--                                    <p>First 3 months free of data </p>-->
<!--                                    <p>High Speed Data</p>-->
<!--                                    <p>Equal across platforms</p>-->
<!--                                    <p>Equal across devices</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>


                    <div id="PrePaidPlan" class="tab-pane fade" th:if="${hasPrePaidPlan} == 'yes'">
                        <div class="container-fluid">
                            <div class="row content">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="well">
                                            <h4 align= 'center'> <b> Call </b> </h4><br>
                                            <div class="progress green">
												<span class="progress-left">
													<span class="progress-bar"></span>
												</span>
                                                <span class="progress-right">
													<span class="progress-bar"></span>
												</span>
                                                <div class="progress-value">Unlimited </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="well">
                                            <h4 align= 'center'> <b> Validity </b> </h4><br>
                                            <div class="progress yellow">
												<span class="progress-left">
													<span class="progress-bar"></span>
												</span>
                                                <span class="progress-right">
													<span class="progress-bar"></span>
												</span>
                                                <div class="progress-value" th:text="${prePaid.validity}">20 days </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="well">
                                            <h4 align= 'center'> <b> Data Left </b></h4><br>
                                            <div class="progress blue">
												<span class="progress-left">
													<span class="progress-bar"></span>
												</span>
                                                <span class="progress-right">
													<span class="progress-bar"></span>
												</span>
                                                <div class="progress-value" th:text="${prePaid.data}">940 MB</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="well">
                                    <h4><b> Current Plan: </b></h4>
                                    <p> You are currently in this plan </p>
                                    <ul>
                                        <li>Plan Name:
                                            <span th:text="${prePaid.amountPaid}">Amount Paid </span>&nbsp;/&nbsp;
                                            <span th:text="${prePaid.planType}">Type</span>
                                        </li>
                                        <li>Your number: <span th:text ="${prePaid.generatedNumber}">number</span></li>
                                        <li>Validity: <span th:text="${prePaid.validity}">text</span></li>
                                        <li>Plan ends on: <span th:text="${prePaid.endDate}">endDate</span></li>
                                    </ul>
                                </div>
                                <div class="well">
                                    <p><b>Low on data ? </b></p>
                                    <a class="btn btn-info" href="/prePaid">Recharge</a><br>
                                    <hr/>
                                    <p><b>Want to change your number to post paid? </b></p>
                                    <a class="btn btn-info" href="/prepaidtopostpaid" onclick="myFunction()">Click me</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="PostPaidPlan" class="tab-pane fade" th:if="${hasPostPaidPlan} == 'yes'">
                        <div class="container-fluid">
                            <div class="row content">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="well">
                                            <h4 align= 'center'> <b> Call </b> </h4><br>
                                            <div class="progress green">
												<span class="progress-left">
													<span class="progress-bar"></span>
												</span>
                                                <span class="progress-right">
													<span class="progress-bar"></span>
												</span>
                                                <div class="progress-value">Unlimited </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="well">
                                            <h4 align= 'center'> <b> Validity </b> </h4><br>
                                            <div class="progress yellow">
												<span class="progress-left">
													<span class="progress-bar"></span>
												</span>
                                                <span class="progress-right">
													<span class="progress-bar"></span>
												</span>
                                                <div class="progress-value" th:text="${postPaid.validity}">20 days </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="well">
                                            <h4 align= 'center'> <b> Data Left </b></h4><br>
                                            <div class="progress blue">
												<span class="progress-left">
													<span class="progress-bar"></span>
												</span>
                                                <span class="progress-right">
													<span class="progress-bar"></span>
												</span>
                                                <div class="progress-value" th:text="${postPaid.data}">20 days </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="well">
                                    <h4><b> Current Plan: </b></h4>
                                    <p> You are currently in this plan </p>
                                    <ul>
                                        <li>Plan Name:
                                            <span th:text="${postPaid.amountPaid}">Amount Paid </span>&nbsp;/&nbsp;
                                            <span th:text="${postPaid.planType}">Type</span>
                                        </li>
                                        <li>Your number: <span th:text ="${postPaid.generatedNumber}">number</span></li>
                                        <li>Validity: <span th:text="${postPaid.validity}">text</span></li>
                                        <li>Plan ends on: <span th:text="${postPaid.endDate}">endDate</span></li>
                                    </ul>
                                </div>
                                <div class="well">
                                    <p><b>Low on data ? </b></p>
                                    <a class="btn btn-info" href="/postPaid">Recharge</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="DonglePlan" class="tab-pane fade" th:if="${hasDonglePlan} == 'yes'">
                        <div class="container-fluid">
                            <div class="row content">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="well">
                                            <h4 align= 'center'> <b>Call </b> </h4><br>
                                            <div class="progress green">
												<span class="progress-left">
													<span class="progress-bar"></span>
												</span>
                                                <span class="progress-right">
													<span class="progress-bar"></span>
												</span>
                                                <div class="progress-value">Unlimited </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="well">
                                            <h4 align= 'center'> <b> Validity </b> </h4><br>
                                            <div class="progress yellow">
												<span class="progress-left">
													<span class="progress-bar"></span>
												</span>
                                                <span class="progress-right">
													<span class="progress-bar"></span>
												</span>
                                                <div class="progress-value" th:text="${dongle.validity}">20 days </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="well">
                                            <h4 align= 'center'> <b> Data Left </b></h4><br>
                                            <div class="progress blue">
												<span class="progress-left">
													<span class="progress-bar"></span>
												</span>
                                                <span class="progress-right">
													<span class="progress-bar"></span>
												</span>
                                                <div class="progress-value" th:text="${dongle.data}">20 days </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="well">
                                    <h4><b> Current Plan: </b></h4>
                                    <p> You are currently using this plan </p>
                                    <ul>
                                        <li>Plan Name:
                                            <span th:text="${dongle.amountPaid}">Amount Paid </span>&nbsp;/&nbsp;
                                            <span th:text="${dongle.planType}">Type</span>
                                        </li>
                                        <li>Your number: <span th:text ="${dongle.generatedNumber}">number</span></li>
                                        <li>Validity: <span th:text="${dongle.validity}">text</span></li>
                                        <li>Plan ends on: <span th:text="${dongle.endDate}">endDate</span></li>
                                    </ul>
                                </div>
                                <div class="well">
                                    <p><b>Low on data ? </b></p>
                                    <a class="btn btn-info" href="/dongle">Recharge</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript" th:src="@{/js/popUp.js}"></script>

</body>
</html>
