<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>New Connection | VoizFonica </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}">
</head>
<body>
<nav class="navbar navbar-inverse visible-xs">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li ><a href="dashboard">Dashboard</a></li>
                <li><a href="profile">Profile</a></li>
                <li class="active"><a href="#">New Connection</a></li>
                <li><a href="unsubscribe">Unsubsricbe</a></li>
                <li><a href="/">Logout</a></li>

            </ul>
        </div>
    </div>
</nav>
<br><br>
<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav hidden-xs">
            <br>
            <img src = "images/logo-small.png" height = "150px" width = "150px" > <br><br>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="dashboard">Dashboard</a></li>
                <li><a href="profile">Profile</a></li>
                <li class="active"><a href="#">New Connection</a></li>
                <li><a href="unsubscribe">Unsubsricbe</a></li>
                <li><a href="/">Logout</a></li>

            </ul>
        </div>

        <div class="col-sm-8">
            <div class="well">

                <table align ="center"  width=82%>
                    <tr>
                        <td align ="center" th:if="${prePaid} == 'null'">
                            <a href = "newConnection/postPaid">
                                <img src="images/postpaid.png"  style="width:50%;">
                            </a>
                        </td>
                        <td align ="center" th:if="${postPaid} == 'null'">
                            <a href = "newConnection/prePaid">
                                <img src="images/prepaid.png" style="width:50%;">
                            </a>
                        </td>
                        <td align ="center"  th:if="${dongle} == 'null'">
                            <a href = "newConnection/dongle">
                                <img src="images/dongle.jpg"  style="width:50%;">
                            </a>
                        </td>
                    </tr>
                </table>
                <br>
                <table align ="center"  width=82%>
                    <tr>
                        <td align ="center"  th:if="${postPaid} == 'null'">
                            <a class="btn btn-primary btn-lg" href="newConnection/postPaid" role="button">Postpaid</a>
                        </td>
                        <td align ="center"  th:if="${prePaid} == 'null'">
                            <a class="btn btn-primary btn-lg" href="newConnection/prePaid" role="button">Prepaid</a>
                        </td>
                        <td align ="center"  th:if="${dongle} == 'null'">
                            <a class="btn btn-primary btn-lg" href="newConnection/dongle" role="button">Dongle</a>
                        </td>
                    </tr>
                </table>
                <div th:if="${dongle} != 'null' and ${prePaid} != 'null' and ${postPaid} != 'null'" >
                    <h1>You have availed all the products!</h1>
                    <h2>To get another connection in postpaid or prepaid or dongle! Create a new account!</h2>
                </div>
            </div>
        </div>

</body>
</html>
