<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Dashboard | VoizFonica </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}">
</head>
<body>
<nav class="navbar navbar-inverse visible-xs">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="dashboard">Dashboard</a></li>
                <li><a href="profile">Profile</a></li>
                <li><a href="newConnection">New Connection</a></li>
                <li class="active"><a href="#">Unsubsricbe</a></li>
                <li><a href="/">Logout</a></li>

            </ul>
        </div>
    </div>
</nav>
<br><br>
<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav hidden-xs">
            <br>
            <img src = "images/logo-small.png" height = "150px" width = "150px" > <br><br>
            <ul class="nav nav-pills nav-stacked">
                <li ><a href="dashboard">Dashboard</a></li>
                <li><a href="profile">Profile</a></li>
                <li><a href="newConnection">New Connection</a></li>
                <li class="active"><a href="#">Unsubsricbe</a></li>
                <li><a href="/">Logout</a></li>

            </ul>
        </div>


        <div class="col-sm-8">
            <div class="jumbotron">
                <h2 class="display-4">Hello, <b th:text="${user.userName}">UserName</b></h2>
                <p class="lead">We are very remorseful to miss a loyal customer like you :( <br>We hope you get back to us soon.</p>
                <hr class="my-4">
                <p>Select the plan you wish to unsubscribe</p>

                <div class="formstyle" >
                    <a class="btn btn-outline-primary" th:href="@{unsubscribe/prepaid}"  th:if="${PrePaidPlanUnsubscribe} == 'yes'" role="button">Prepaid</a>
                    <a class="btn btn-outline-primary" th:href="@{unsubscribe/postpaid}"  th:if="${PostPaidPlanUnsubscribe} == 'yes'" role="button">Postpaid</a>
                    <a class="btn btn-outline-primary" th:href="@{unsubscribe/dongle}"  th:if="${DonglePlanUnsubscribe} == 'yes'" role="button">Dongle</a>
                </div>

            </div>
        </div>
    </div>
</div>
</div>

</body>
</html>
